<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madevil.gallery"
    android:versionCode="20131110"
    android:versionName="0.98" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="526c6b5756240b1b730291ca" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="GooglePlay" />

        <activity
            android:name="com.madevil.gallery.ActivityMain"
            android:label="@string/app_name"
            android:launchMode="standard" >
        </activity>
        <activity
            android:name="com.madevil.gallery.ActivityDetail"
            android:label="@string/title_activity_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madevil.gallery.ActivityMain" />
        </activity>
        <activity
            android:name="com.madevil.gallery.ActivityUser"
            android:label="@string/title_activity_user" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madevil.gallery.ActivityMain" />
        </activity>
        <activity
            android:name="com.madevil.gallery.ActivityComment"
            android:label="@string/title_activity_comment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.madevil.gallery.ActivityDetail" />
        </activity>
        <activity
            android:name="com.madevil.gallery.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_activity_splash"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent222222" /> <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name="com.umeng.fb.ContactActivity" />
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>
    </application>

</manifest>